$primary-color: #48abab;
// $secondary-color: ;
$secondary-color: #51a3a3;
$tertiary-color: #fff;
$img-overlay: rgba(0, 0, 0, 0.5);
$text-color: #333;
$bg-color: #EEEE;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@mixin media-sm {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin media-md {
    @media screen and (min-width: 768px) {
      @content;
    }
  }
  @mixin media-lg {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }
  @mixin media-xl {
    @media screen and (min-width: 1600px) {
      @content;
    }
  }