// --- Contact Section --- //

#contact{
    display: flex;
    align-items: center;
	justify-content: center;
	flex-direction: column;
	outline: none;
	background-color: $bg-color;
}

.contact-title {
	text-align: center;
		margin: 50px;
		font-size: 1.8em;
		color: $text-color;
}
.wrapper {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	  min-width: 50%;
	  padding: 20px;
	  margin-bottom: 30px;
}

h2 {
    text-align: center;
    margin: 10px 0 20px;
    color:#48abab;
  }
  
  .wrapper .input-field {
      margin-bottom: 30px;
      
  }

  .wrapper .input-field input,
  .wrapper textarea {
      width: 100%;
      border: 1px solid #e0e0e0;
      padding: 10px;
      border-radius: 5px;
      outline: none;
  }

  textarea {
      height: 100px;
      resize: none;
  }

  .wrapper .btn button{
    border: 0px;
    padding: 15px;
    text-align: center;
    width: 100%;
    background: #48abab;
    color: #fff;
    
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  #error-message{
    margin-bottom: 20px; 
    padding: 0px;
    text-align: center;
    font-size: 16px;
    color: #e74c3c;
    transition: all 0.5s ease;
  }

	 	

	


.backtotop{
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	background: #333;
	padding: 20px 0;
	width: 150px;
	margin-bottom: 30px;
	border-radius: 10px;
	.totop {
		text-decoration: none;
		margin-bottom: 20px;
		color: #fff;
	}
}


#footer {
	margin-top: 0px;
	width: 100%;
	height: 100px;
	background: $primary-color;
	text-align: center;
}
