// --- Skills Section --- //
#my-skills {
	width: 100%;
	background-color: $bg-color;

	.skills-inner {
		margin: 0px 100px;
		height: 80vh;
		// background: $tertiary-color;
		display: flex;
		flex-direction: column;
		justify-content: center;
		// align-items: center;
		padding: 20px 0px;
	}

	.progress {
		width: 99%;
		background-color: #b9b8b8;
		border-radius: 10px;
		margin: 20px 0px;
		height: 40px;
		padding: 2px 2px;
	}

	.progress-bar {
		height: 100%;
		width: 0%;
		background: #48abab;
		border-radius: 10px;
		transition: all 1.5s;
		box-shadow: 8px 9px 10px rgba(0, 0, 0, 0.3);
	}

	.progress-bar span {
		// position: relative;
		// top: 10%;
		// left: 10px;
		// z-index: 1;
		float: right;
		margin: 8px 10px;
		color: $tertiary-color;
	}

	.skills {
		text-align: center;
		margin-top: 50px;
		font-size: 1.8em;
		color: $text-color;
	}
}
